<div class='container'>
	<div class='row'>
		<form class="form-control" action=''>
			<input type='checkbox' name='gender' value='male'>Male
			<input type='checkbox' name='gender' value='female'>Female
			<select name="age"> 
				<option value="under100">Under 100</option> 
				<option value="100" selected>100</option>
				<option value="over100">Over 100</option>
			</select>
			<input type='checkbox' name='status' value='single'id="single">Single
			<input type='checkbox' name='status' value='dating' id="dating">Dating
			<input type='checkbox' name='status' value='married' id="married">Married
		</form>
	</div>
</div>
